<!DOCTYPE html>
<html>
  <head>
    <title>RailsPractice</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <nav class="app-title navbar navbar-expend-md navbar-light bg-light">
      <a class="navbar-brand" href="#">Task</a>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
